*
{
    margin: 0;
    padding: 0;
    border: none;
}
body
{
    font-family:  Calibri, sans-serif;
}
h1
{
    font-size: 350%;
    text-shadow: 1px 0.1px 4px gray;
    text-transform: uppercase;
    margin-top: 30px;
}
h1 i
{
    margin-left: 20px;
    color: goldenrod;
}
a
{
    text-decoration: none;
    color: black;
}
h3
{
    margin: 5px 0px 25px 0px;
    font-size: 150%
}
/* Hide the audio controls */
audio
{
    display: none;
}
/* Style table containing high scores */
table
{
    text-align: center;
    box-shadow: 20px yellow;
    border: 4px solid darkgoldenrod;
    border-radius: 20px;
    box-shadow: 10px 10px 20px darkgray;
    margin: 0 auto 0 auto;
    padding: 5px;
}
/* table elements */
td
{
    width: 45%;
    text-align: center;
}
th
{
    text-decoration: underline;
    font-size: larger;
}
/* https://www.w3schools.com/css/css_table_style.asp */
/* Style the rows in the table to that evevry second row is shown is a different color */
tr:nth-child(even) 
{
    background-color: #f2f2f2;
}
/* Main logo with an font awesome icon */
#logo
{
    width: 90%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;

}
/*Show class to call when the elements are to be displayed */
.show 
{
    visibility: visible;
}
/* Hide class to call when the elements are to be hidden with display none being declared so the elements do not take up any space on the page
when hidden */
.hide
{
    visibility: hidden;
    display: none;
}
/* Style the index.html image so it sits in the center of the page */
.main-image
{
    background: url("../images/del-rodney-grandad.jpg") no-repeat center center;
    height: 550px;
    width: 60%;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    top: 50%;
    left: 50%;
    box-shadow: 20px yellow;
    border: 4px solid darkgoldenrod;
    border-radius: 20px;
    box-shadow: 10px 10px 20px darkgray;
}
/* Icon on the high scores table style */
#trophy
{
    text-align: center;
    margin: 50px auto;
    color: goldenrod;
    font-size: 500%;
}
#high-scores-table
{
    width: 90%;
    text-align: center;
}
/* Class to be called when the user clicks on the highscores button to use the game-area-background div to display the high scores */
.high-scores-display
{
    background: none;
}
/* Style the div where the majority of the elements are */
#game-controls
{
    width: 60%;
    height: 130px;
    margin-left: auto;
    margin-right: auto;
}
#intro-paragraph
{
    text-align: center;
    margin-top: 2%;
    font-size: 20px;
}
/* Div containing the buttons to navigate through the site */
#button-outer
{
    text-align: center;
}
/* Button styles to keep in line with the color scheme */
#play-now
{
    width: 50%;
    height: 35px;
    font-size: larger;
    text-transform: uppercase;
    background-color: goldenrod;
    color: white;
    border: 3px solid black;
    border-radius: 20px;
    box-shadow: 10px 10px 20px darkgray;
}
#button-mute
{
    background-color: goldenrod;
    color: white;
    border: 3px solid black;
    border-radius: 20px;
    box-shadow: 10px 10px 20px darkgray;
    width: 10%;
    margin-top: 10px;
    height: 35px;
    font-size: larger;
}
#question-container
{
    height: 130px;
}
/* Invert colors when button is hovered over */
#play-now:hover, #instructions:hover, #high-scores:hover, #button-mute:hover
{
    background-color: white;
    color: goldenrod;
    box-shadow: 10px 10px 20px goldenrod;
}
/* target all the buttons in the div button-inner */
#button-inner button
{
    margin-top: 10px;
    width: 30%;
    height: 35px;
    font-size: larger;
    text-transform: uppercase;
    background-color: goldenrod;
    color: white;
    border: 3px solid black;
    border-radius: 20px;
    box-shadow: 10px 10px 20px darkgray;
}
/* Create a class to be called to style the question-container when the play-now button is clicked */
.update-question-div
{
    height: 275px;
    border: 3px solid goldenrod;
    border-radius: 20px;
    box-shadow: 10px 10px 20px darkgray;
    margin-top: 30px;
    text-align: center;
}
/* Create styles for the label and input once it's visible */
.user-label-style
{
    font-family: inherit;
    margin-top: 50px;
    height: 30px;
    font-size: 25px;
}
/* Style the input field where the suer enters their name */
.user-input
{
    margin-top: 50px;
    border: 2px solid goldenrod;
    border-radius: 20px;
    height: 30px;
    font-size: larger;
    box-shadow: 10px 10px 20px darkgray;
    padding: 0px 10px;
}

/* Button class that can be added to both user details and questions */
.button-additional
{
    width: 40%;
    height: 35px;
    font-size: 25px;
    text-transform: uppercase;
    background-color: goldenrod;
    color: white;
    border: 3px solid black;
    border-radius: 20px;
    box-shadow: 10px 10px 20px darkgray;
    margin-top: 40px;
}
/* Style the p elements for the questions multiple choices */
.options
{
    display: grid;
    text-align: center;
    width: 40%;
    font-size: 150%;
    margin: 10px auto;
    padding: 2px;
    border: 3px solid black;
    border-radius: 20px;
    background-color: goldenrod;
    color: white;
}
/* Style the button so the colors invert when hovered over */
.options:hover
{
    background-color: white;
    color: goldenrod;
    box-shadow: 10px 10px 20px goldenrod;
}
/* Style the button when the user clicks on it */
.on-click
{
    display: grid;
    text-align: center;
    width: 40%;
    font-size: 150%;
    margin: 10px auto;
    padding: 2px;
    border: 3px solid black;
    border-radius: 20px;
    background-color: white;
    color: goldenrod;
    box-shadow: 10px 10px 20px goldenrod;
}
/* Display for current score */
#score
{
    text-align: center;
    font-size: 150%;
}
/* Classes to be applied when the user has clicked an option so it will show if the user has selected the correct answer 
or highlight the correct one if the user has selected the incorrect answer */
.correct-answer
{
    display: grid;
    text-align: center;
    width: 40%;
    font-size: 150%;
    margin: 10px auto;
    padding: 2px;
    border: 3px solid black;
    border-radius: 20px;
    background-color: darkgreen;
    box-shadow: 10px 10px 20px darkgreen;
    color: white;;
}
.incorrect-answer
{
    display: grid;
    text-align: center;
    width: 40%;
    font-size: 150%;
    margin: 10px auto;
    padding: 2px;
    border: 3px solid black;
    border-radius: 20px;
    background-color: darkred;
    box-shadow: 10px 10px 20px darkred;
    color: white;;
}
/* Media Queries */
/* For small screen size from 600px wide and down */
@media screen and (max-width: 600px)
{
    /* Main image, intro paragraphy and buttons */
    h3
    {
        margin: 5px;;
    }
    #logo
    {
        font-size: 125%;
    }
    #button-outer
    {
        clear: both;
        
    }
    #question-container
    {
        height: 320px;

    }
    #play-now
    {
        width: 100%;
    }
    #button-outer button
    {
        width: 100%;
    }
    .main-image
    {
        width: 90%;
    }
    #game-controls
    {
        width: 90%;
    }
    #btn-lets-go
    {
        width: 70%;
    }
    .options
    {
        font-size: 100%;
        width: 60%;
    }
}
/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px)
{
    #question-container
    {
        height: 230px;       
    }
    #play-now
    {
        width: 70%;
    }
    #button-inner button
    {
        width: 30%;
        font-size: 80%;
    }
    .options
    {
        width: 60%;
        font-size: 100%;
    }
}
/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px)
{
    #button-inner button
    {
        width: 35%;
        font-size: 120%;
    }
    .options
    {
        width: 70%;
        font-size: 120%;
    }

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px)
{
    #question-container
    {
        height: 150px;;
    }
}

