*
{
    margin: 0;
    padding: 0;
    border: none;
}
body
{
    font-family:  Calibri, sans-serif;
}
h1
{
    font-size: 350%;
    text-shadow: 1px 0.1px 4px gray;
    text-transform: uppercase;
    margin-top: 30px;
}

h1 i
{
    margin-left: 20px;
    color: goldenrod;
}

#logo
{
    width: 90%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;

}
/* Style the index.html image so it sits in the center of the page */
#image
{
    background: url("../images/del-rodney-grandad.jpg") no-repeat center center;
    height: 550px;
    width: 60%;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    top: 50%;
    left: 50%;
    box-shadow: 20px yellow;
    border: 4px solid darkgoldenrod;
    border-radius: 20px;
    box-shadow: 10px 10px 20px darkgray;
}

#game-area
{
    width: 60%;
    margin-left: auto;
    margin-right: auto;
}

#intro-paragraph
{
    text-align: center;
    margin-top: 2%;
    font-size: 25px;
}

#button-outer
{
    text-align: center;
}

#play-now
{
    width: 50%;
    height: 35px;
    margin-top: 10px;
    font-size: larger;
    text-transform: uppercase;
    background-color: goldenrod;
    color: white;
    border: 3px solid black;
    border-radius: 20px;
    box-shadow: 10px 10px 20px darkgray;
}

/* Invert colors when button is hovered over */
#play-now:hover, #instructions:hover, #high-scores:hover
{
    background-color: white;
    color: goldenrod;
    box-shadow: 10px 10px 20px goldenrod;
}

#button-inner button
{
    margin-top: 10px;
    width: 30%;
    height: 35px;
    font-size: larger;
    text-transform: uppercase;
    background-color: goldenrod;
    color: white;
    border: 3px solid black;
    border-radius: 20px;
    box-shadow: 10px 10px 20px darkgray;
}

