body
{
    font-family:  Calibri, sans-serif;
}
h1
{
    font-size: 350%;
    text-shadow: 1px 0.1px 4px gray;
}
#logo
{
    width: 90%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}
#outer-image
{
    border: 1px solid white;
    border-radius: 30px;
    height: 600px;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    background-color: red;
    
}
#image
{
    background: url("../images/OnlyFools.jpg") no-repeat center center;
    height: 100%;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    box-shadow: [horizontal offset] [vertical offset] [blur radius] [optional spread radius] [color];
}

